body {
    background-color: rgb(245,245,245);
}

.mobileMenu {
    background: url('../images/mobile-bg.png') no-repeat 50% / 100%;
    background-size: cover;
    position: relative;
}

.desktopMenu {
    background: url('../images/desktopLanding3.png') no-repeat 50% / 100%;
    background-size: cover;
    position: relative;
}

.desktopMenu .desktopMenuBackground {
    width: 100%; 
    opacity: 0;  
    z-index: 0;
}

.mobileMenu .mobileMenuBackground {
    width: 100%; 
    opacity: 0;  
    z-index: 0;
}

.mobileButtons {
    float:left;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.desktopButtons {
    float:left;
    height: 87%;
    width: 48%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mobileButtons a {
    display: flex;
    justify-content: center;
    width: 100%
}

.desktopButtons a {
    display: flex;
    justify-content: center;
    width: 100%
}

.desktopPictures {
    float: right;
    height: 89%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 33%;
}

.test {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.desktopPicture {
    width: 43%;
    z-index: 1; 
}

#desktopPicture1 {
    margin: 5px;
    padding: 5px;
    background-color: white;
    border: solid black 8px;

}
#desktopPicture2 {
    padding: 5px;
    margin: 5px;
    background-color: white;
    border: solid black 8px;

}
#desktopPicture3 {
    padding: 5px;
    margin: 5px;
    background-color: white;
    border: solid black 8px;

}
#desktopPicture4 {
    padding: 5px;
    margin: 5px;
    background-color: white;
    border: solid black 8px;

}


.menuButton {
    width: 28%;
    height: 83%;
    z-index: 1;
    margin-bottom: 3%;
}

.locationButton {
    width: 28%;
    height: 100%;
    z-index: 1;
}

.desktopMenuButton {
    width: 20%;
    z-index: 1;
    margin-bottom: 3%;
}

.desktopLocationButton {
    width: 20%;
    z-index: 2;
}

#mobileLandingRibs {
    width: 100%;
    margin-top: 30px;
}

#mobileLandingGyro {
    width: 100%;
    margin-top: 30px;
}



.navbar-logo {
    width: 180px;
    margin-right: 20px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 25px;
}

.navbar-dark {
    background-color: rgb(139,56,43);
}

#mobileLandingDescription {
    margin-top: 30px;
    background-color: rgb(230,230,240);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding: 20% 10% 20% 10%;
}

@media (min-width: 992px) {
    .nav-item {
    margin-right: 20px;
    margin-left: 20px;
    }
}


@media (max-width: 991px) {
    .nav-item {
        border-bottom: 1px solid lightgray;
        text-align: right;
    }
    /* .nav-item-top {
        border-top: 1px solid lightgray;
        margin-top: 10px;
    } */
    .nav-item-bottom {
        border-bottom: none;
    }
}

@media (min-width: 768px) {
    #mobileLandingDescription {
        padding: 70px 10% 70px 10%;
    }
}