<div class="container-fluid p-0">
    <div class="row justify-content-center no-gutters">
        <div class="card col-12 col-lg-10">
            <div class="card-header ">
                <h3>Featured</h3>
            </div>
        </div>
    </div>
    <div class="row no-gutters justify-content-center">
        <div class="col-11 col-lg-5">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h5 class="itemName">Card title</h5>
                        <h5>$8.99</h5>
                    </div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <hr>
        </div>
        <div class="col-11 col-lg-5">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h5 class="itemName">Card title</h5>
                        <h5>$8.99</h5>
                    </div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <hr>

        </div>
        <div class="col-11 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h5 class="itemName">Card title</h5>
                        <h5>$8.99</h5>
                    </div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <hr>

        </div>
        <div class="col-11 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h5 class="itemName">Card title</h5>
                        <h5>$8.99</h5>
                    </div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <hr>

        </div>
    </div>
</div>
