<div class="wrapper">
    <header *ngIf="router.url !=='/'">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="#"><img class="navbar-logo" src="assets/images/frisco-text-logo.png"></a>
            <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item nav-item-top">
                        <a class="nav-link " routerLink="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/menu">Menu</a>
                    </li>
                    <li class="nav-item nav-item-bottom">
                        <a class="nav-link" routerLink="/location">Location</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <router-outlet></router-outlet>
    <div class="push"></div>
</div>

<footer class="py-4 bg-dark">
    <div class="container text-white">
        What
    </div>
</footer>