<div class="container-fluid p-0">
    <div class="row no-gutters justify-content-center">
        <div class="col-12 col-lg-11 text">
            1227 Phillips Ln, Pearl, MS
        </div>
        <hr class="col-12 col-lg-11">
    </div>
    <div class="row no-gutters justify-content-center mapRow">
        <div class="col-12 col-lg-11">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3373.582180679503!2d-90.13662428450758!3d32.269322217004266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86282de116da884d%3A0x17e634dd3eeb7c79!2sFrisco%20Deli!5e0!3m2!1sen!2sus!4v1579727085027!5m2!1sen!2sus"
                class="googleMap" frameborder="0" allowfullscreen="">
            </iframe>
        </div>
    </div>
    <!-- <div class="row no-gutters justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            <div id="TA_selfserveprop114" class="TA_selfserveprop" style="display:flex; justify-content: center;">
                <ul id="PcgCT1C5dRq" class="TA_links AkfB0YGq">
                    <li id="J6nJfDBJ1" class="fVGyeE">
                        <a target="_blank" href="https://www.tripadvisor.com/"><img
                                src="https://www.tripadvisor.com/img/cdsi/img2/branding/150_logo-11900-2.png"
                                alt="TripAdvisor" /></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4" style="display:flex; justify-content: center;">
            <iframe
                src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2Fcategory%2FDeli%2FFrisco-Deli-116420491719744%2F&tabs=timeline&width=500&height=405&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
                width="500" height="405" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div class="col-12 col-md-12 col-lg-4" style="display:flex; justify-content: center; margin-top: 30px;">
            <div id="res_widget" class="widget_wrap" style="width:100%;height:405px;">
                <div
                    style="z-index:2;display:block;margin:0px;padding:0px;box-sizing:border-box;text-align:center; position:relative; font-size: 12px;">
                    <a href="https://www.zomato.com/jackson-ms/frisco-deli-pearl?utm_source=referral-widget-17422406&utm_medium=restaurant_information_badge&utm_campaign=widget-business"
                        target="_newtab"
                        style="text-decoration: none;color : #252525; font-size:12px; font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Segoe UI, Arial, sans-serif; background: url(https://b.zmtcdn.com/images/widgets/zlogo_20.png) #fff left center no-repeat; display:block; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; text-align:left; line-height: 20px; padding:0 8px 0 28px; position:absolute; top:20px; left:10px;"
                        id="zomatoRestaurantWidget_btn">Bookmark us on Zomato</a></div><iframe id="res_widget_frame"
                    src="https://www.zomato.com/widgets/restaurant_widget_reviews_frame.php?show_menu=0&show_reviews=1&res_id=17422406&height=615&language_id=1"
                    style="display:block;width:100%;height:100%;" border="0" frameborder="0"></iframe>
            </div>
        </div>

    </div> -->
    <div class="row no-gutters justify-content-right px-3">
        <div class="col-12 col-md-6 col-lg-4 facebook">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2Fcategory%2FDeli%2FFrisco-Deli-116420491719744%2F&tabs&width=340&height=215&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="330" height="215" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div class="col-12 col-md-6 col-lg-4" style="display:flex; justify-content: center;">
            <div id="TA_selfserveprop114" class="TA_selfserveprop tripadvisor"
                style="display:flex; justify-content: center;">
                <ul id="PcgCT1C5dRq" class="TA_links AkfB0YGq">
                    <li id="J6nJfDBJ1" class="fVGyeE">
                        <a target="_blank" href="https://www.tripadvisor.com/"><img
                                src="https://www.tripadvisor.com/img/cdsi/img2/branding/150_logo-11900-2.png"
                                alt="TripAdvisor" /></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-12 col-md-12 col-lg-4 zomato">
            <div id="res_widget" class="widget_wrap" style="width:330px;height:320px; display: flex; justify-content: center;flex-direction: column;">
                <div
                    style="z-index:2;display:block;margin:0px;padding:0px;box-sizing:border-box;text-align:center; position:relative; font-size: 12px;">
                    <a href="https://www.zomato.com/jackson-ms/frisco-deli-pearl?utm_source=referral-widget-17422406&utm_medium=restaurant_information_badge&utm_campaign=widget-business"
                        target="_newtab"
                        style="text-decoration: none;color : #252525; font-size:12px; font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Segoe UI, Arial, sans-serif; background: url(https://b.zmtcdn.com/images/widgets/zlogo_20.png) #fff left center no-repeat; display:block; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; text-align:left; line-height: 20px; padding:0 8px 0 28px; position:absolute; top:20px; left:10px;"
                        id="zomatoRestaurantWidget_btn">Rate us on Zomato</a>
                </div>
                <iframe id="res_widget_frame"
                    src="https://www.zomato.com/widgets/restaurant_widget_reviews_frame.php?show_menu=0&show_reviews=0&res_id=17422406&height=615&language_id=1"
                    style="display:block;width:100%;height:100%;" border="0" frameborder="0"></iframe>
            </div>
        </div>

    </div>
</div>