.googleMap {
    width: 100%;
    height: calc(100% - 40px);
    margin-bottom: 10px;
}

:host {
    display: block;
    height: calc(100% - 160px);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container-fluid {
    height: 100%;
}

.container-fluid .mapRow {
    height: 80vh;

}   

.text {
    margin-top: 20px; 
    margin-left: 10px;
    text-align: center;
}

.facebook {
    display:flex; justify-content: center;
}

.zomato {
    display:flex; 
    justify-content: center;
}

.tripadvisor {
    width: 320px;
}


@media (min-width: 992px) {
    .googleMap {
        padding-bottom: 11px;
    }
    .text {
        margin-left: 10px;
        text-align: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .zomato {
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
    .zomato, .tripadvisor {
        margin-top: 30px;
    }
}