<div class="container-fluid p-0">
  <div *ngFor="let category of categories">
    <div class="row justify-content-center no-gutters">
      <div class="card col-12 col-lg-10">
        <div class="card-header">
          <h3>{{ category.name }}</h3>
        </div>
      </div>
    </div>
    <div
      class="row no-gutters justify-content-center"
      *ngFor="let item of category.items"
    >
      <div class="col-11 col-lg-5">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h5 ng-dbclick="test(item.id)" class="itemName">{{ item.name }}</h5>
              <h5>{{ item.price }}</h5>
            </div>
            <p class="card-text">{{ item.description }} <button class="btn btn-primary" style="float:right">Edit</button></p>

          </div>
        </div>
        <hr />
      </div>
    </div>
  </div>
</div>

<li *ngFor="let category of categories">
  {{ category.name }}
  {{ category.order }}
  <p *ngFor="let item of category.items">
    {{ item.name }}
    {{ item.price }}
  </p>
</li>

<!-- <li *ngFor="let item of items">
  {{ item.name }}
  {{ item.price }}
</li> -->
