<div class="desktopMenu d-none d-lg-block" >
    <img src="assets/images/desktopLanding3.png" class="desktopMenuBackground">
    <div class="desktopButtons">
        <a routerLink="/menu"><img src="assets/images/menu-button.png" class="desktopMenuButton"></a>
        <a routerLink="/location"><img src="assets/images/location-button.png" class="desktopLocationButton"></a>
    </div>
    <div class="desktopPictures">
        <div class="test"><img id="desktopPicture1" src="assets/images/muff.jpg" class="desktopPicture"><img id="desktopPicture2" src="assets/images/smoked turkey1.jpg" class="desktopPicture"></div>
        <div class="test"><img id="desktopPicture3" src="assets/images/reuben.jpg" class="desktopPicture"><img id="desktopPicture4" src="assets/images/smokedham1.jpg" class="desktopPicture"></div>
    </div>
</div>

<div class="mobileMenu d-lg-none">
    <img src="assets/images/mobile-bg.png" class="mobileMenuBackground">
    <div class="mobileButtons">
        <a routerLink="/menu"><img src="assets/images/menu-button.png" class="menuButton"></a>
        <a routerLink="/location"><img src="assets/images/location-button.png" class="locationButton"></a>
    </div>
</div>

<div id="mobileLandingDescription">
    We are a small, family owned restaurant that started out in malls in 1984 and moved to Pearl in 1993. Many refer
    to us as a 'mom and pop store'
    while others refer to us as 'that secret hole in the wall.' We have something for everyone, from giant
    sandwiches to our award winning rib plates.
    Our catfish is seasoned with our own original recipe, and our chicken tenders go great with our secret honey
    mustard recipe made with local honey.
    We're a family-friendly restaurant at an affordable price, and we hope to see you soon!
</div>

<div>
    <img src="assets/images/ribs3.png" id="mobileLandingRibs">
</div>
<div>
    <img src="assets/images/combo2.png" id="mobileLandingRibs">
</div>
<div>
    <img src="assets/images/gyro2.jpg" id="mobileLandingGyro">
</div>